html{
    background: linear-gradient(217deg, rgba(243, 118, 118, 0.8), rgba(255,0,0,0) 50.71%);
    padding:2rem;
   
}
.chart{
    background-color: aliceblue;
    padding:20px;
    width:850px;
    height:550px;
}
.chart:hover{
    padding:20px;
    width:860px;
    height:580px;
    background-color: burlywood;
    transition: 1000ms;
}
